Gym_Fitness/Gym_Fitness/Connected Services/LicenseService/LicenseKey.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="LicenseVerification">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="request" type="tns:LicenseRequest" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="LicenseRequest">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Key" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="HDD" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="History" type="s:dateTime" />
          <s:element minOccurs="0" maxOccurs="1" name="Hash" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="LicenseVerificationResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="LicenseVerificationResult" type="tns:UndergraduateAnswer" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="UndergraduateAnswer">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="VerificationCode" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Key" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="HDD" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="History" type="s:dateTime" />
          <s:element minOccurs="0" maxOccurs="1" name="Hash" type="s:string" />
        </s:sequence>
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="LicenseVerificationSoapIn">
    <wsdl:part name="parameters" element="tns:LicenseVerification" />
  </wsdl:message>
  <wsdl:message name="LicenseVerificationSoapOut">
    <wsdl:part name="parameters" element="tns:LicenseVerificationResponse" />
  </wsdl:message>
  <wsdl:portType name="LicenseKeySoap">
    <wsdl:operation name="LicenseVerification">
      <wsdl:input message="tns:LicenseVerificationSoapIn" />
      <wsdl:output message="tns:LicenseVerificationSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="LicenseKeySoap" type="tns:LicenseKeySoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="LicenseVerification">
      <soap:operation soapAction="http://tempuri.org/LicenseVerification" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="LicenseKeySoap12" type="tns:LicenseKeySoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="LicenseVerification">
      <soap12:operation soapAction="http://tempuri.org/LicenseVerification" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="LicenseKey">
    <wsdl:port name="LicenseKeySoap" binding="tns:LicenseKeySoap">
      <soap:address location="http://localhost:65324/LicenseKey.asmx" />
    </wsdl:port>
    <wsdl:port name="LicenseKeySoap12" binding="tns:LicenseKeySoap12">
      <soap12:address location="http://localhost:65324/LicenseKey.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>